* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font: bold 20px Courier;
}
#main {
  width: 360px;
  height: 420px;
  background-color: #f2d335;
  border-radius: 20px;
  border: 10px solid #402309;
  margin: 150px auto auto 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#stage {
  width: 304px;
  height: 304px;
  border: 2px solid #402309;
  position: relative;
}
#stage #snake > div {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #402309;
  border: 1px solid #f2d335;
}
#stage #food {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 30px;
  top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
#stage #food > div {
  width: 4.5px;
  height: 4.5px;
  background-color: #402309;
  rotate: 45deg;
}
#panel {
  color: #402309;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
